<html>
    <h2>Your appointments</h2>
    <table border=1 cellspacing=2 cellpadding=10>
        {{ if .Appointments }}
        <tr>
            <th>Medical Specialty</th>
            <th>Date</th>
            <th>Doctor</th>
            <th>Room</th>
            <th>State</th>
        </tr>
        {{ else }}
        <p>You don't have any appointments.</p>
        {{ end }}
        {{ range .Appointments }}
        <tr>
            <td>{{ .MedicalSpecialty }}</td>
            <td>{{ .Date }}</td>
            {{ if .State }}
            <td>{{ .Doctor }}</td>
            <td>{{ .Room }}</td>
            <td style="color: green;">Settled</td>
            {{ else }}
            <td>Not assigned</td>
            <td>Not assigned</td>
            <td style="color: gold;">Pending</td>
            {{ end }}
        </tr>
        {{ end }}
    </table>
</html>
