<html>
    <h2>Make your appointment</h2>
    <form action="" method="POST">
        <label for="date">Date: </label>
        <input type="datetime-local" name="date" required>
        <br>
        <label for="medicalSpecialty">Medical Specialty: </label>
        <select name="medicalSpecialty">
            {{ range .MedicalSpecialties }}
            <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
    {{ if .content }}
    {{ .content }}
    {{ end }}
</html>
